apiontology-demonstrator-zipcodes/src/main/resources/schema/zipcode.xsd

<xsd:schema xmlns="http://www.unister.de/zipcode/schema/beans" targetNamespace="http://www.unister.de/zipcode/schema/beans"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="get-zipcode-request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="city" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="zipcode-response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="zipcode" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>